

@media (min-width : 1024px){
    
.nav ul li:hover{
    background: #ccc;
    color: #fff;
    cursor: pointer;
}

}

@media (min-width : 740px) and (max-width : 1023px){
    .noti{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    font-size: 15px;
    }
}

@media (max-width : 739px){
    .noti{
    position: absolute;
    left: 56%;
    transform: translateX(-50%);
    top: 30%;
    font-size: 10px;
    width: 300px;
    }

    .nav-btn{
        display: block;
    }

    .mobile-header{
        position: absolute;
        height: 50px;
        background: #000;
        width: 100%;
        top: 0;
        display: block;
    }

    .input{
        position: absolute;
        height: 200px;
        left: 50%;
        transform: translateX(-50%);
        top: 35%;
    }

    .nav ul li{
        display: block;
        width: 100%;
    }

    .nav ul li a{
        padding: 12px 110px;
    }

}